body {
    display: flex;
}
body * {
    box-sizing: border-box;
}

.card-container {
    flex: 300px;
}
.card-container .card {
    font-weight: bold;
    position: relative;
    height: 40px;
    width: 100%;
}
.card-container:not(:first-child) .card{
    margin-top: 15px;
}
.card-container .card a {
    padding: 5px 10px 10px 10px;
    width: 100%;
    height: 40px;
    border: 2px solid black;
    background: white;
    text-decoration: none;
    color: black;
    display: block;
    position: absolute;
    z-index: 100;
    transition: 0.25s ease;
}
.card-container .card:hover a, .card-container .card a.active{
    transform: translate(-10px, -10px);
    border-color: #5bc0eb;
}
.card-container .card .card--border {
    position: absolute;
    padding: 10px;
    width: 100%;
    height: 40px;
    left: 0;
    top: 0;
    border: 2px dashed black;
    z-index: 1;
}
.pointer{
    cursor: pointer;
}
.tab{
    border: 2px solid #fff;
}
.tab.active{
    color: red;
}
.tab-content{
    display: none;
}
.tab-content.active{
    display: block;
}
.swal2-popup{
    font-size: 1em;
}
textarea{
    resize: none;
}
.table-condensed>tbody>tr>td{
    padding: 1px;
}
.datepicker{
    padding-left: 10px;
}