#mon-giangvien select *{
    padding: 5px 10px;
}
#mon-giangvien select *:hover{
    background-color: #ecfffb;
}
.btn-group{
    width: 100%;
    margin-top: 20px;
}
.bootstrap-duallistbox-container .move,
.bootstrap-duallistbox-container .remove {
    background: #fff;
}
.bootstrap-duallistbox-container .moveall,
.bootstrap-duallistbox-container .removeall {
    background: #fff;
}
.box1 select option{
    padding: 3px 5px;
}
#dichuyen{
    display: none;
}